/* This file is for your main application css. */

@import "./phoenix.css";

.column1 {
    float: left;
    width: 40%;
  }

  .column2 {
    float: left;
    width: 30%;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .wordwrap { 
    white-space: pre-wrap; 
  }
