

<div class="row">

  <div class="column2">
  <div class="card">
        <label ><b>Wallet</b></label>
      </div>
    <div class="card">
      <label align="left"><b>Your Public Key: </b></label>
      <%= @public %>
    </div>
    <div class="card">
      <label align="left"><b>Your Private Key:</b></label>
      <div class="wordwrap"><%= @private %></div>
    </div>
    <div class="card">
      <label align="left"><b>Balance: <%= @balance %> BTC </b></label>
    </div>

 <div class="card">
        <label ><b>Transact</b></label>
      </div>
    <div class="card">
     
      <label align="left"><b>Public Key</b></label>
      <input type="text" placeholder="Public Key" name="public_key" required>

      <label align="left"><b>Amount</b></label>
      <input type="text"  placeholder="Enter Amount" name="amount" required>
        <br/>
      <button type="submit" >Send</button>
    </div>

   
  </div>

  <div class="column1">
    <div class="card">
     
      <%= raw Chartkick.line_chart @b, label: "Block Generation Time", xtitle: "Block Number", ytitle: "time (ms)"  %>
      <%= raw Chartkick.column_chart @d, label: "Number of Bitcoins", xtitle: "Wallet Number", ytitle: "Bitcoins", colors: ["red"] %>
    </div>
  </div>

  <div class="column2">
    <div class="card">
    <div class="card">
        <label ><b>Current Block</b></label>
      </div>
      <div class="card">
        <label align="left"><b>Previous Hash</b></label>
        <%= @prev_hash%>
      </div>
      <div class="card">
        <label align="left"><b>Hash</b></label>
        <%= @hash%>
      </div>
      <div class="card">
        <label align="left"><b>Timestamp</b></label>
        <%= @time%>
      </div>
      <div class="card">
        <label align="left"><b>Nonce </b></label>
        <%= @nonce%>
      </div>
      <div class="card">
        <label align="left"><b>Difficulty </b></label>
        4
      </div>
      <div class="card">
        <label align="left"><b>Transactions </b></label>
        <%= @transactions%>
      </div> 
    </div>

</div>



